<!DOCTYPE html>
<html lang="en">
<head>
    
    <style>
        table,td,th{
border: 2px outset rgba(17, 17, 17, 0.219);

border-radius: 5px;
        }
        td{
            padding: 5px;
        }
    </style>
</head>
<body>
    <center><div style="height: 500px;width: 500px; ">
    <form action="">
        <table width="100%">
     
            <tr><td>username</td><td><input type="text" value="ex.sdfsdv"></td></tr>
            <tr><td>password</td><td><input type="password" name="" id=""></td></tr>
    
        <thead >
            <tr><th colspan="2">fgwfd</th></tr>
        </thead>
        <tfoot>
            <tr><th colspan="2">gsfgsdf</th></tr>
        </tfoot>
    </table>
    </form></div></center>
</body>
</html>